body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main,
article[role="article"] {
  margin-bottom: 50px;
}

footer {
  text-align: right;
}

.layout-container {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 639px) {
  .layout-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.links {
  text-align: right;
}

.links.inline li a {
  padding: 10px;
}

.field__entity-reference ul {
  padding-left: 0;
  text-align: right;
}

.field__entity-reference li:not(:last-child):after {
  content: ",";
}

.pager {
  text-align: center;
}

.links.inline li,
.field__entity-reference li,
.pager__item {
  display: inline;
}

.pager__item a {
  padding: 10px;
}

#block-minimono-branding {
  text-align: center;
  margin-top: 3rem;
}

#block-minimono-branding a {
  font-size: 2rem;
  font-weight: 700;
}

#block-minimono-main-menu {
  text-align: right;
}

#block-minimono-main-menu li {
  display: inline;
}

#block-minimono-main-menu li a {
  padding: 10px;
}
