body {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article[role="article"] {
  margin-bottom: 50px;
}

.layout-container {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .layout-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.links {
  text-align: right;
}

.links.inline li a {
  padding: 10px;
}

.pager {
  text-align: center;
}

.links.inline li,
.pager__item {
  display: inline;
}

.pager__item a {
  padding: 10px;
}

#block-sitebranding {
  text-align: center;
}

#block-sitebranding a {
  font-size: 2rem;
  font-weight: 700;
}
